@import "variables";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin:0;
  font-family: Helvetica;
}

.art-button-spinner md-spinner {
  display: inline-flex;
  margin-left: .5em;
  width: 1em;
  height: 1em;
}
